body { font-family: "Open Sans"; font-size:1em; color: #242021; font-size:1em; line-height:125%; } 
h1, h2, h3, h4 , h5, h6 { font-family: "Bitter"; font-weight:normal; line-height:150%; }

h1{font-size:2.5em;}
h2{font-size:1.5em;}
h2.medium {font-size:1.35em;}
h2.small {font-size:1.35em;}
h3{font-size:1.25em;}
h4{font-size:1.0em;}
p { width:100%; }
.small { font-size:0.75em; line-height:150%; }
.left { text-align: left; }
ul { list-style-type: disc; width:100%; padding-left:15px; padding-right:15px; }
li { width:100%; padding-bottom: 10px; }
code{ font-size:0.75em; color: #333333; background-color:#fff; padding: .5em; width:100%; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75); float: left;}
pre{ background-color:#ffffff; margin-top: 8px; margin-bottom: 8px;  clear: both; display: block; float: left; }
.box { background-color:#ffffff; margin-top: 8px; margin-bottom: 8px;  clear: both; display: block; float: left; width:100%;}
.image-shadow {
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75);
}
.title { padding-top: 20px; }
.half {width:50%; display:block; float:left;}
.wrapper{width:75%;}
.column_25 {width:20%; display:block; float:left; padding: 5px 4px 5px 2px; text-align:left;}
.column_75 {width:70%; display:block; float:left; padding: 5px 4px 5px 2px; text-align:left;}
.row { border-bottom: 1px solid #999; padding: 10px; display:block; float:left; width:100%; }
